---
import Layout from "../layouts/Layout.astro";
import Reference from "../components/ReferenceWrap.astro"
import HeaderImage from "../components/HeaderImage.astro";

import { headerImages } from "../assets/header";
import logo from "../assets/logo-dilewe-small.svg?raw";

import referenceLasub from "../assets/references/lasub.jpg";
import referenceMbookGL from "../assets/references/mbook-gl.jpg";
import referenceGeoregio from "../assets/references/georegio.jpg";
import referenceDemokratie from "../assets/references/demokratie.jpg";
import referenceFluchtUndVertreibung from "../assets/references/flucht.jpg";
import referenceRD from "../assets/references/rd.jpg";
import referenceInklusion from "../assets/references/inklusion.jpg";
import referenceLeipzig from "../assets/references/leipzig.jpg";
import referencePerspektiven from "../assets/references/perspektiven.jpg";
import referenceSoulchat from "../assets/references/soulchat.jpg";
import referenceMVet from "../assets/references/mvet.jpg";
import referenceAltenburg from "../assets/references/altenburg.jpg";
import referenceJura from "../assets/references/jura.jpg";
import referenceMemories from "../assets/references/memories.jpg";
import referenceMMMMO from "../assets/references/mmmmo.jpg";
import referenceSpiegelarche from "../assets/references/spiegelarche.jpg";
import referenceDaZ from "../assets/references/daz.jpg";
import referenceDeutsch from "../assets/references/deutsch.jpg";
import referenceModule from "../assets/references/module.jpg";

---

<style>
	h2 {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: 3rem;
		color: #fff;
		font-weight: 100;
		letter-spacing: 3px;
		text-align: center;
	}

	.logo :global(svg) {
		width: calc(max(35vw,40vh));
		height: calc(max(35vw,40vh));
		display: block;
		position: absolute;
		right: -8vw;
		bottom: -2vw;
		z-index:0;
	}

	.logo :global(svg) :global(path) {
		fill: #fff2;
	}
</style>

<Layout title="Referenzen" bodyClass="references">
	<HeaderImage images={headerImages} foxReferences>
		<h2>Aktuelle Projekte</h2>
		<span class="logo"><Fragment set:html={logo} /></span>
	</HeaderImage>
	<Reference image={referenceLasub}>
		<h3>E-Learning-Module<br/>für den Freistaat Sachsen</h3>
		<h4>Landesamt für Schule und Bildung Sachsen & Sächsisches Staats&shy;ministerium für Kultus</h4>

		<p>Konzeption, Erstellung und Implementierung von lehrplankonformen E-Learning-Modulen in allen Schularten und vielen Fächern für die landesweite Nutzung in Sachsen. Die Module verfügen über eine Nutzergruppenverwaltung und sind mit der sächsischen Lehrplandatenbank verbunden.</p>

		<span class="links">
			<a href="https://institut-fuer-digitales-lernen.de/blog/elearning-module-fuer-sachsen-ein-bundesland-arbeitet-an-einer-krisenfesten-und-sicheren-schule-fuer-alle/" target="_blank">Mehr Informationen</a> |
			<a href="https://www.bildung.sachsen.de/blog/index.php/2022/12/13/digitale-module-unterstuetzen-lehrkraefte-beim-unterrichten/?fbclid=IwAR1qk2mCchC_Bn8NGA3jtW80mETbgrfvBGodGkKNGJQbMQzf4Mlpecuin88" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceMbookGL} odd>
		<h3>Plattform Digitale Schule<br/>NRW &amp; mBook GL</h3>
		<h4>Ministerium für Schule und Bildung des Landes Nordrhein-Westfalen</h4>

		<p>Konzeption, Produktion und Implementierung eines lehrplankonformen und zugelassenen digitalen Schulbuchs für das Fach Geschichte mit Erweiterungen für inklusives Lernen in der Sekundarstufe I. Das Angebot wird über eine von den Digitalen Lernwelten entwickelte Zugangsverwaltung über die Seite digitale-schule.nrw zur Verfügung gestellt und ist darüber hinaus eines der Pilotangebote der landeseigenen Lösung logineo.nrw.</p>

		<span class="links">
			<a href="https://institut-fuer-digitales-lernen.de/blog/mbook-gemeinsames-lernen-und-die-distributionsplattform-digitale-schule-nrw/" target="_blank">Mehr Informationen</a> |
			<a href="https://www.schulministerium.nrw/mbook-gemeinsames-lernen-unterstuetzungsangebot-fuer-lehrerinnen-und-lehrer" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceGeoregio}>
		<h3>GeoRegio - das Geografiebuch<br/>über die Euregio Maas-Rhein</h3>
		<h4>Euregio Maas-Rhein</h4>

		<p>Konzeption, Produktion und Implementierung eines digitalen Geografie-Lehrwerks für die Euregio Maas-Rhein. Dieses richtet sich an alle Lehrenden und Lernenden in der Euregio, weswegen es durchgehend dreisprachig (Französisch, Niederländisch, Deutsch) und binnendifferenziert ist. Im Geografiebuch werden Datendienste, z. B. von Katasterämtern, live abfragt – somit bleibt das Unterrichtsmaterial stets aktuell.</p>

		<span class="links">
			<a href="https://euregio-mr.info/de/Projekte/emrlingua.php" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceDemokratie} odd>
		<h3>Demokratie - Medien - Persönlichkeit</h3>
		<h4>Hessisches Ministerium des Inneren und für Sport</h4>

		<p>Konzeption, Produktion und Implementierung eines digital-multimedialen Lehr- und Lernmittels für politische und medienkritische Bildung. Mit zeitgemäßen methodischen Ansätzen und aktuellen Medienbeispielen, die im Kontext zielgruppenspezifischer Analyse- und Simulationstools untersucht werden können, entsteht eine kollaborative Lernumgebung, die auf eine erkenntnisfördernde und persönlichkeitsstärkende Wirkung abzielt.</p>

		<span class="links">
			<a href="https://institut-fuer-digitales-lernen.de/blog/demokratie-medien-persoenlichkeit" target="_blank">Mehr Informationen</a> |
			<a href="https://innen.hessen.de/presse/digitales-demokratieprojekt-an-richard-mueller-schule-in-fulda-gestartet" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceFluchtUndVertreibung}>
		<h3>Flucht und Vertreibung</h3>
		<h4>Hessisches Ministerium des Inneren und für Sport &amp; Bund der Vertriebenen Hessen</h4>

		<p>Flucht und Vertreibung - Eine deutsche Geschichte über Leid und Neuanfang. Konzeption, Produktion und Implementierung der ersten multimedialen und interaktiven Gesamtdarstellung der deutschen Flucht-, Vertreibungs- und Integrationsgeschichte am Ende des Zweiten Weltkriegs. Das Projekt zeigt diese Geschichte im Kontext ihrer kurz- und langfristigen Ursachen. Dabei wird deutlich, wie wertvoll die Suche nach Gerechtigkeit und Aussöhnungsbereitschaft für die Gestaltung der europäischen Zukunft ist.</p>

		<span class="links">
			<a href="https://redaktionsvorschau-bdv.test-dilewe.de/" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceRD} odd>
		<h3>Infoportal Russlanddeutsche in Hessen</h3>
		<h4>Hessisches Ministerium des Inneren und für Sport & Interessengemeinschaft der Deutschen aus Russland in Hessen</h4>

		<p>Das Infoportal widmet sich der Geschichte der ausgewanderten und der Gegenwart der zurückgekehrten Russlanddeutschen in aktuellen transdisziplinären Forschungen, Video-Interviews und Lebensberichten. Das mPublish-Projekt verfügt über ein Redaktionssystem, das Workshopteilnehmerinnen und -teilnehmer nutzen können, um Arbeitsergebnisse und weitere vertiefende Informationen eigenständig hinzuzufügen.</p>

		<span class="links">
			<a href="https://institut-fuer-digitales-lernen.de/blog/infoportal-russlanddeutsche-in-hessen-geschichte-und-gegenwart-der-deutschen-aus-russland/" target="_blank">Mehr Informationen</a> |
			<a href="https://innen.hessen.de/Presse/Infoportal-Russlanddeutsche-in-Hessen-geht-online" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceInklusion}>
		<h3>Digitales Unterrichts&shy;material zur Inklusion</h3>
		<h4>Christoffel Blindenmission</h4>

		<p>Dieses Unterrichtsmaterial ermöglicht Schülerinnen und Schülern, sich mit dem Thema Inklusion aus verschiedenen Blickwinkeln zu beschäftigen. Sie versetzen sich in die Perspektive von Menschen mit Behinderungen, sprechen über Barrieren sowie Teilhabechancen und lernen die Bedeutung von Inklusion als Menschenrecht kennen.</p>

		<span class="links">
			<a href="https://institut-fuer-digitales-lernen.de/blog/mpublish-cbm-digitales-unterrichtsmaterial-zum-thema-inklusion/" target="_blank">Mehr Informationen</a> |
			<a href="https://mpublish.cbm.de/" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceLeipzig} odd>
		<h3>mPublish Archiv Bürgerbewegung Leipzig</h3>
		<h4>Archiv Bürgerbewegung Leipzig e.V.</h4>

		<p>"Unser Ziel war es, eine benutzerfreundliche Lehr- und Lernplattform zu entwickeln, die bundesweit genutzt werden kann und sich insbesondere auf Jugendkulturen in der DDR und Transformationszeit in Sachsen und Mitteldeutschland fokussiert. Die ist sowohl online zugänglich, um von Lehrkräften ortsunabhängig als zusätzliches Lehrmaterial im Unterricht genutzt zu werden, als auch in unsere bestehenden Bildungs- und Workshopangebote integriert." - Andreas Parnt, Archiv Bürgerbewegung Leipzig e.V.</p>

		<span class="links">
			<a href="https://www.archiv-buergerbewegung.de/9-verein/aktuelles/692-jugendkulturen-in-der-ddr-neue-lehr-und-lernplattform-startet-bald" target="_blank">Mehr Informationen</a> |
			<a href="https://dieanderejugend.de/" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referencePerspektiven}>
		<h3>Wir und die anderen - globale Perspektiven auf Behinderung</h3>
		<h4>missio</h4>

		<p>Das Thema Behinderung ist in unserer Gesellschaft nach wie vor wenig präsent. Die Norm des vermeintlich gesunden Menschen ohne Behinderung ist allgegenwärtig in Serien und Filmen, in Schulbüchern und in der Werbung. ‘Wir und die anderen’ will Menschen mit Behinderung zu mehr Sichtbarkeit verhelfen. Der Blick nach Tansania erweitert dabei die deutsche Sichtweise und zeigt auf, wie Menschen im Globalen Süden mit Behinderungen umgehen.</p>

		<span class="links">
			<a href="https://missioforlife.de/unterrichtsmaterial/details/globale-perspektiven-auf-behinderung/wir-und-die-anderen-%E2%80%93-globale-perspektiven-auf-behinderung" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceSoulchat} odd>
		<h3>Soul Chat - der Krisenchat für Jugendliche</h3>
		<h4>Pädagogisch-Theologisches Zentrum der Evangelischen Landeskirche in Württemberg</h4>

		<p>‘Einfach mal offen reden’ - das ist der Grundgedanke von Soul Chat. Das Tool bietet Jugendlichen die Möglichkeit, im Netz unkompliziert und sicher mit geschultem Personal über ihre Probleme und Krisen zu sprechen.</p>

		<span class="links">
			<a href="https://institut-fuer-digitales-lernen.de/blog/soul-chat-einfach-mal-offen-reden/" target="_blank">Mehr Informationen</a> |
			<a href="https://soul-chat.de/" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceMVet}>
		<h3>mVet - Informations- und Weiterbildungs&shy;plattform</h3>
		<h4>Herrmann Kempf - Tierärztliche Praxis für Exoten</h4>

		<p>Veterinärmedizinische Fachliteratur, wie sie sein sollte: an jedem Behandlungsort schnell verfügbar, medial vielfältig und unter Einbindung umfangreichen Datenmaterials für Diagnostik, Behandlungsmöglichkeiten und einzelfallbezogene Medikamentierung - komplexe, empirisch gesättigte Fachliteratur im digitalen Rahmen. mVet bietet ein System aus Fachbuch, veranstaltungsbezogenem Schulungsmaterial und Weiterbildungsmanagement: alles aus einer Hand.</p>

		<span class="links">
			<a href="https://institut-fuer-digitales-lernen.de/blog/mvet-das-veranstaltungsportal-fuer-tiermediziner/" target="_blank">Mehr Informationen</a> |
			<a href="https://m-vet.de/" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceAltenburg} odd>
		<h3>mGuide Altenburg - interaktive Stadt- und Kulturführung</h3>
		<h4>Stadt Altenburg; Sparkassenstiftung Altenburger Land</h4>

		<p>Der mGuide ist ein kulturhistorischer Stadtführer, der sich in ein analoges touristisches Leitsystem integriert und unter Nutzung aller Mediengenres über die bedeutenden Orte, Bau- und Naturdenkmäler, Museen und kulturellen Einrichtungen der Stadt informiert. QR-Codes machen jeden Ort zugänglich, als App bietet der mGuide aber auch ein umfassendes interaktives Medienangebot, einen Veranstaltungskalender, kartenbasierte Erkundungstouren durch die Stadt und eine GPS-gesteuerte Navigation. Faszinierende Bilder, 360-Grad-Aufnahmen und Drohnenfilme machen Lust auf die Vergangenheit und vielgestaltige Gegenwart einer tausendjährigen Stadt – die schon Kaiser Barbarossa zu einem seiner Lieblingsorte erkoren hatte.</p>

		<span class="links">
			<a href="https://mguidealtenburg.dilewe.app/" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceJura}>
		<h3>mGuide Jura Museum - digitaler Museumsführer</h3>
		<h4>Staatliche Naturwissenschaftliche Sammlungen Bayerns, Staatliche Schlösser und Seen; Bayerische Schlösserverwaltung; Universität</h4>

		<p>Der mGuide Jura Museum ist ein digitaler Ausstellungsführer für eine spannende, naturgeschichtliche Ausstellung: Der Urvogel Archaeopteryx, eine Sensation der Evolutionsgeschichte, steht im Mittelpunkt der Sammlung. Der mGuide macht Fossilienfunde medial präsent, verleiht den Ausstellungsräumen ein virtuelles Besucherleitsystem und stellt Informationen für unterschiedliche Führungsmöglichkeiten zusammen – für Kinder wie für Erwachsene. Der mGuide ist ein Multimedia-Guide ohne Zusatzhardware und aufwändiges Gerätemanagement, er funktioniert einfach auf allen mobilen Geräten der Besucher.</p>

		<span class="links">
			<a href="https://institut-fuer-digitales-lernen.de/blog/mguide-jura-museum-eichstaett-steine-erzaehlen-lassen/" target="_blank">Mehr Informationen</a> |
			<a href="https://mguide-jura-museum.de/" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceMemories} odd>
		<h3>Lernplattform “Keeping Memories”</h3>
		<h4>KZ-Gedenkstätte Flossenbürg / Stiftung Bayerische Gedenkstätten</h4>

		<p>Didaktische Beratung und Planung eines konstruktionssensiblen Ansatzes biografischer Arbeit bezogen auf ehemalige Gefangene des Konzentrationslagers Flossenbürg. Das innerhalb des Think Tanks „Digital Memorial Lab“ entstandene Projekt soll Schülerinnen und Schüler dazu anregen, Eigen- und Fremdperspektiven auf Lebensläufe und Lebenserfahrungen zu reflektieren und sich ausgehend von der Kenntnis narrativer Erwartungen aktiv mit biografischen Erzählungen auseinanderzusetzen. Erinnerung an die Verbrechen des Nationalsozialismus wird damit als Gestaltungsaufgabe verstehbar – auch nach dem Ende der Zeitzeugenschaft. Das Projekt besteht aus einer digitalen Lernplattform, didaktischen Hinweisen für Lehrende sowie Social-Media-Angeboten.</p>

		<span class="links">
			<a href="https://www.gedenkstaette-flossenbuerg.de/de/bildung/keeping-memories-lernplattform" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceMMMMO}>
		<h3>MMMMO - Interaktive Daten&shy;visualisierung"</h3>
		<h4>Universität Oxford, Faculty of Medieval and Modern Languages</h4>

		<p>Mechthild’s Medieval Mystical Manuscripts Online (MMMMO) ist ein wissenschaftliches Datenvisualisierungs- und Auswertungsinstrument: Europaweit erhobene Informationen der literaturwissenschaftlichen Grundlagenforschung über mittelalterliche Handschriften werden, zusammen mit den über sie verfügbaren Metadaten, in ein technisches System übertragen und in einer dynamischen Kartendarstellung zusammengeführt – Datenvisualisierung in Raum und Zeit auf dem Stand der technischen Möglichkeiten.</p>

		<span class="links">
			<a href="https://www.helftamysticism.org/" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceSpiegelarche} odd>
		<h3>Kosmos SpiegelArche</h3>
		<h4>Der Grüne Salon e.V. gefördert vom Bundesministerium für Bildung und Forschung</h4>

		<p>Die Ausstellung KOSMOS basiert auf Extended Reality mit den vier Themenbereichen Landwirtschaft & Geosphäre, Astronomie & Raumfahrt, Klimawandel & Biosphäre und Nachhaltige Zukunftsvisionen. Den Kern bilden dabei VR-Szenarien: die Realität löst sich vor den Augen der Besucher in Partikel auf, sie finden sich in einem vollständig anderen Universum wieder. Alles fließt, alles ist veränderbar, alles ist Projektionsfläche. Vier unterschiedliche Szenarien entfalten sich: eine utopische und eine dystopische Version der Vergangenheit und eine utopische und eine dystopische Version der Zukunft. Zwei prototypische Menschen, gestaltet aus glatten roten Oberflächen, treten jeweils in einen Dialog ein, aus dem sich die Nutzerinnen und Nutzern die Prämissen der jeweiligen Welten erschließen können. Nach den vier Szenarien müssen die Besucher zurück ins Hier und Jetzt. Die gegenwärtige Realität baut sich um sie herum wieder auf. Eigene Gestaltung ist nun gefragt, ein eigener Menschentyp wird in den endlosen Spiegelwelten erschaffen, inszeniert und fotografiert und mit anderen Besuchern geteilt. Dafür steigen die Besucher in rot-flächige Ganzkörper-Morphsuits. Sie abstrahieren, um konkret werden zu können. Sie erschaffen gemeinsam, um eine Zukunft gestalten zu können.</p>

		<span class="links">
			<a href="https://www.spiegelarche.de/" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceDaZ}>
		<h3>Deutsch als Zweitsprache (DaZ)</h3>
		<h4>Digitale Lernwelten</h4>

		<p>Alphabetisierung -, die Buchstaben kennenlernen und schreiben, Buchstaben identifizieren und erste Wörter schreiben. Diese Module beinhalten alles, was Kinder zum Schreiben lernen am Computer und mit der Hand benötigen. Zudem gibt es mehrere Module, die sich mit dem Leseverstehen beschäftigen. Alles multimedial und interaktiv für den Unterricht aufbereitet und in mehreren Bundesländern auf Landesebene im Einsatz.</p>

		<span class="links">
			<a href="https://st.daz.dilewe.de/" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceDeutsch} odd>
		<h3>Deutsch digital, 5./6. Klasse</h3>
		<h4>Digitale Lernwelten</h4>

		<p>Alle Themen im Fach Deutsch der 5. und 6. Klasse wurden von Lehrkräften abwechslungsreich, multimedial und adaptiv aufbereitet, Hand in Hand mit Designern und Programmierern. Die Inhalte wurden in Zusammenarbeit mit Schulen erprobt und sind vollumfassend für den Unterrichtsgebrauch geeignet.</p>

		<span class="links">
			<a href="https://netbook-deutsch.de/" target="_blank">Link</a>
		</span>
	</Reference>
	<Reference image={referenceModule}>
		<h3>eLearning Module</h3>
		<h4>Digitale Lernwelten</h4>

		<p>Fertige digitale Module in vielen Fächern, kuratiert für den konkreten Unterricht. Von Lehrkräften und Digitalprofis entwickelt. Didaktisch innovativ, methodisch abwechslungsreich, interaktiv, multimedial und auf allen Geräten nutzbar. Hochwertige Inhalte, moderne Digitaldidaktik, günstiger Preis. Ab Ende 2023 für Schulen zu erwerben.</p>
	</Reference>
</Layout>