---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"

import logo from "../assets/logo-dilewe-small.svg?raw";
import socialFacebook from "../assets/social/facebook.svg?raw";
import socialLinkedin from "../assets/social/linkedin.svg?raw";
import socialBluesky from "../assets/social/bluesky.svg?raw";
import socialInstagram from "../assets/social/instagram.svg?raw";
import socialTwitter from "../assets/social/twitter.svg?raw";
---
<nav>
	<span class="site-links">
		<a class={currentPath === "datenschutz/" ? "active" : ""} href="/datenschutz/">Datenschutz</a>
		<a class={currentPath === "impressum/" ? "active" : ""} href="/impressum/">Impressum</a>
	</span>
	<div class="logo"><Fragment set:html={logo} /></div>
	<span class="social-links">
		<a href="https://www.facebook.com/digitalelernwelten" target="_blank"><Fragment set:html={socialFacebook} /></a>
		<a href="https://www.linkedin.com/company/digitale-lernwelten-gmbh" target="_blank"><Fragment set:html={socialLinkedin} /></a>
		<a href="https://bsky.app/profile/digitalelernwelten.bsky.social" target="_blank"><Fragment set:html={socialBluesky} /></a>
		<a href="https://www.instagram.com/digitalelernwelten/" target="_blank"><Fragment set:html={socialInstagram} /></a>
		<a href="https://twitter.com/DLernwelten" target="_blank"><Fragment set:html={socialTwitter} /></a>
	</span>
</nav>

<style>
	nav {
		text-align: center;
		display: block;
		position: relative;
		padding: 0rem 0 3rem;
		background-color: #585858;
	}

	a {
		text-transform: uppercase;
		text-decoration: none;
		color:var(--nav-text-color);
		margin: 0 0.5rem;
	}

	a.active {
		text-decoration: underline;;
	}

	.logo {
		transform: translate(0, 42%);
		margin: 0 0.5rem;
		display: inline-block;
	}

	a :global(svg) {
		display: inline-block;
		width: 2rem;
		height: 2rem;
		margin-bottom: -0.5rem;
	}

	:global(svg) :global(path.primaryColor) {
		fill: var(--primary);
	}

	@media only screen and (max-width: 650px)  {
		nav {
			margin: 0 auto;
			text-align: left;
			padding-left: auto;
			width: 100%;
			display: flex;
			flex-direction: column;
			flex-flow: column-reverse;
			align-items: center;
			justify-content: center;
		}

		.site-links,
		.social-links {
			display: block;
			margin-top: 1rem;
			padding-top: 1rem;
		}

		.site-links {
			padding-top: 0.75rem;
		}

		.site-links {
		}

		.logo {
			position: absolute;
			left: 0;
			top: 0;
			margin-left: 1rem;
			visibility: hidden;
		}
	}
</style>