---
interface Props {
	image: ImageMetadata;
	fox?: boolean;
}

import imageFox from "../assets/header-fox.png";
const { image, fox } = Astro.props;
---

<div class="outerWrap">
	<div class="wrap">
		<svg height="0" width="0">
			<defs>
				<clipPath id="headerImageClipPath" clipPathUnits="objectBoundingBox">
					<path d="M 0 0 L 0.9 0 C 1 0.3 1 0.7 0.92 1 L 0 1 L 0 0"></path>
				</clipPath>
			</defs>
		</svg>
		<div class="left">
			<img src={image.src} width={image.width} height={image.height} />
		</div>
		<div class="right">
			<slot />
		</div>
	</div>
	{ !fox ? '' : (<img class="fox" src={imageFox.src} width={imageFox.width} height={imageFox.height} alt="Ein Fuchs" />)}
</div>

<style>
	.wrap {
		width: 100%;
		height: 100%;
		position: relative;
		background: var(--nav-background);
		overflow: hidden;
	}

	.outerWrap {
		width: 100%;
		height: 50vh;
		position: relative;
	}

	.left {
		width: calc(50% + 100px);
		height: 100%;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		z-index:1;
		clip-path: url(#headerImageClipPath);
	}

	.left img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
	}

	.right {
		width: calc(50% - 100px);
		height: 100%;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	.fox {
		position: absolute;
		z-index: 2;
		left: 50%;
		margin-left: -900px;
		width: 360px;
		height: auto;
		display: block;
		bottom: 0;
		transform: translate(0, 45.5%);
	}

	@media only screen and (max-width: 1700px)  {
		.fox {
			display: none;
		}
	}
</style>
