---
interface Props {
	images: ImageMetadata[];
	fox?: boolean;
	foxReferences?: boolean;
}

import imageFox from "../assets/header-fox.png";
import imageFoxReferences from "../assets/header-fox-references.png";
import { ImageShow } from "./ImageShow";
const { images, fox, foxReferences } = Astro.props;
---

<div class="outerWrap">
	<div class="wrap">
		<svg height="0" width="0">
			<defs>
				<clipPath id="headerImageClipPath" clipPathUnits="objectBoundingBox">
					<path d="M 1 0 L 0 0 C 0.05 0.4 0.05 0.6 0 1 L 1 1 L 1 0"></path>
				</clipPath>
			</defs>
		</svg>
		<div class="image">
			<ImageShow images={images} client:load />
		</div>
		<div class="text">
			<slot />
		</div>
	</div>
	{ !fox ? '' : (<img class="fox" src={imageFox.src} width={imageFox.width} height={imageFox.height} alt="Ein Fuchs" />)}
	{ !foxReferences ? '' : (<img class="fox-references" src={imageFoxReferences.src} width={imageFoxReferences.width} height={imageFoxReferences.height} alt="Ein Fuchs" />)}
</div>

<style>
	.wrap {
		width: 100%;
		height: 100%;
		position: relative;
		background: var(--nav-background);
		overflow: hidden;
	}

	.outerWrap {
		width: 100%;
		height: calc(min(50vh, 40vw));
		position: relative;
	}

	.image {
		width: 50%;
		height: 100%;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		clip-path: url(#headerImageClipPath);
	}

	.text {
		width: 50%;
		height: 100%;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	}

	.fox {
		position: absolute;
		z-index: 2;
		right: 50%;
		margin-right: -900px;
		width: 280px;
		height: auto;
		display: block;
		bottom: 0;
		z-index:10;
		transform: translate(0, 45.5%);
	}

	@media only screen and (max-width: 1750px)  {
		.fox {
			display: none;
		}
	}

	.fox-references {
		position: absolute;
		z-index: 2;
		left: 50%;
		width: 580px;
		height: auto;
		display: block;
		bottom: 0;
		z-index:10;
	}
</style>
